/ {
    aliases {
        ledshow0 = &led0;
        ledshow1 = &led1;
        ledshow2 = &led2;
        ledshow3 = &led3;
        ledshow4 = &led4;
        ledselect0 = &led5;
        ledselect1 = &led6;
        ledselect2 = &led7;
        ledselect3 = &led8;
        sw0 = &button0;
        sw1 = &button1;
        sw2 = &button2;
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
        };
        led1: led_1 {
            gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
        };
        led2: led_2 {
            gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
        };
        led3: led_3 {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        };
        led4: led_4 {
            gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
        };
        led5: led_5 {
            gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
        };
        led6: led_6 {
            gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
        };
        led7: led_7 {
            gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
        };
        led8: led_8 {
            gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
        };
    };

    buttons {
	    compatible = "gpio-keys";
	    button0: button_0 {
	        gpios = <&gpio0 20 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	        label = "Climate button";
	    };
	    button1: button_1 {
	        gpios = <&gpio0 21 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	        label = "Sound button";
	    };
	    button2: button_2 {
	        gpios = <&gpio0 22 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	        label = "Motion button";
	    };
    };
};

&i2c0 {
    status = "okay";
    beata: beata@17 {
        status = "okay";
        compatible = "zephyr,beata";
        reg = <0x17>;
        int-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
    };
};